In [ ]:
# Single Condition (If)

a = 3
if a == 3:
  print("a is three")

a is three

In [ ]:
is_cat_hungry = True

if is_cat_hungry:
  print('feed the cat')

# apabila variabelnya diasign denga tipe boolean (True atau False)
# maka tidak perlu memakai tanda '=='

feed the cat

In [ ]:
# Two Condition (If -> Else)

a = 5
b = 5
if a != b:
  print("a and b is not the same")
else:
  print("a and b is the same")

a and b is the same

In [ ]:
cat_condition = 'want to play'

if cat_condition == 'hungry':
  print('feed the cat')
elif cat_condition == 'thirsty':
  print('give water to the cat')
else:
  print("don't know what to do")

don't know what to do

In [ ]:
# Multiple Condition (If -> Elif -> Else)

a = 5
b = 5
if a != b:
  print("a and b is not the same")
else:
  print("a and b is the same")

a and b is the same

In [ ]:
# multiple condition dan nested if
# dalam negeri / luar negeri
tujuan = 'dalam negeri'
akomodasi = 'pesawat'
total_peserta = 5

if tujuan == 'dalam negeri' and akomodasi == 'pesawat':
  if total_peserta < 5:
    print("perkiraan budget maskima adalah 4 juta rupiah")
  else:
    print("perkiraan budget maskima adalah 8 juta rupiah")
elif tujuan == 'dalam negeri' and akomodasi == 'mobil':
  print("perkiraan budget maskima adalah 800 ribu rupiah")

perkiraan budget maskima adalah 8 juta rupiah

In [ ]:
# multiple condition dan nested if
# dalam negeri / luar negeri
tujuan = 'Luar negeri'
tujuan_negara = 'Belanda'
akomodasi = 'pesawat'
total_peserta = 7

if tujuan == 'Luar negeri' and akomodasi == 'pesawat' and (tujuan_negara == 'Belanda' or tujuan_negara == 'Spanyol')\
  and total_peserta < 5:
  print("perkiraan budget maskimal adalah 30 juta rupiah")
elif tujuan == 'Luar negeri' and akomodasi == 'pesawat' and (tujuan_negara == 'Belanda' or tujuan_negara == 'Spanyol')\
  and total_peserta > 5:
  ("perkiraan budget maskimal adalah 80 juta rupiah")

In [ ]:
# untuk kondisi negasi bisa menggunakan !=

x != 'b'
if x != 'a':
  print('Not A')

Not A

In [ ]:
# # untuk kondisi negasi bisa menggunakan not ==

if not(x == 'a'):
  print('Not a')

Not a

In [ ]:
# Multiple Expression
a = 3
b = 7
c = 20
if a < b and b < c:
  print("a is smaller than b")

# sama seperti single expression
"""
a = 3
if a == 3:
  print("a is three")
"""

a is smaller than b

'\na = 3 \n\nif a == 3:\n  print("a is three")\n'

In [ ]:
# “IF” Statement [Shorthand]

a = 3
if a == 3: print("a is three")

# sama seperti multiple expression
"""
if else
a = 5
b = 5
if a == b:
  print("same")
else:
  print("different")
  """

a is three

In [ ]:
# “IF” Statement [Shorthand]

a = 5
b = 5
print("same") if a==b else print("different")

# sama kaya
"""
if else
a = 5
b = 5
if a == b:
  print("same")
else:
  print("different")
"""

same

In [ ]:
# “IF” Statement [Nested]

x = 50
if x > 20:
  print("Above twenty, ")
  if x > 40:
    print("and also above 40")
  else:
    print("but not above 40")
else:
    print("Below twenty")

Above twenty,
and also above 40

In [ ]:
# Switch Case / Match Case

match x : 
  case 'a':
    print(1)
case 'b':
    print(2)
case _:
    print(0) # 0 is the default case if x is not found


match x :case 'a’:
print(1)
case 'b’:
print(2)
case _:
print(0)

# cuma bisa python versi tertentu

SyntaxError: ignored

In [ ]:
input_value = 5

# kuran dari 5 -> print ('kurang dari 5')
# lebih dari 5 -> print('lebih dari sama dengan 5')

if input_value <= 5:
  print('kurang dari 5')
elif input_value >= 5:
  print('lebih dari sama dengan 5')

# kalo pake operator <= atau =>, udah satu kondisi terpenui dia bakal ke run

kurang dari 5

In [ ]:
# assigning variabel
nama_variabel = 'value dari variabel'

# Data Type
"""
  string 'aselole'
  int 45
  float 2.4
  boolean False / True
  list ['satu', 'dua', 'tiga', 'empat', 'sempak']
  dictioary {'name' : 'diaz', 'age' : 25}

In [ ]:
# ngecek versi python

!python -V

Python 3.7.12

In [ ]:
nama = "Diaz_Jubairy"
kelamin = "laki-laki"

if nama == "Diaz_Jubairy" and kelamin == "laki-laki":
  print("Sewaktu sekolah, saya menggunakan celana panjang berwarna abu")

Sewaktu sekolah, saya menggunakan celana panjang berwarna abu