# LOOP
1. Iterate until a certain condition is reached.  biasanya pake while loop
2. Iterate until certain number of times.  biasanya pake for loop
3. Iterate through elements in a list or array. biasanya pake for loop

The inner loop will be fully executed for each iteration of the outer loop.

## Loop Control

Sometimes, instead of following our loop condition, we just want to do another thing
besides of our defined loop condition. These statements might help.
- break, will terminate the current loop and continue to the next line after the
loop
- continue, will reject the remaining statements in the current loop and continue
to the next iteration
- pass, used when a statement is required syntactically but do not want any code
to be executed

In [ ]:
#for loop
#Iterate until certain number of times

#syntax
# for <variable> in range(anga start, angka end):
#   <statement>  

for i in range(0,10):
  print('index ke', i)

index ke 0
index ke 1
index ke 2
index ke 3
index ke 4
index ke 5
index ke 6
index ke 7
index ke 8
index ke 9

In [1]:
nama_siswa = ['krian', 'roni', 'bayu', 'farhan']

for variable in(nama_siswa):
  print(variable)

krian
roni
bayu
farhan

In [ ]:
nama_siswa = ['krian', 'roni', 'bayu', 'farhan']

index = 0
for variable in(nama_siswa):
  index += 1
  print('absen :', index)
  print('nama :', variable)

absen : 1
nama : krian
absen : 2
nama : roni
absen : 3
nama : bayu
absen : 4
nama : farhan

In [ ]:
data_siswa = {'name': 'krian',
              'absen': 1}

for key, value in(data_siswa).items():
  print(key, value)

name krian
absen 1

In [5]:
data_siswa_list = [{'name': 'krian',
                    'absen': '1'},
                   {'name': 'bayu',
                    'absen': '2'},
                   {'name': 'farhan',
                    'absen': '3'}]

for item in(data_siswa_list):
  for key, value in(item).items():
    print(key, value)

name krian
absen 1
name bayu
absen 2
name farhan
absen 3

In [7]:
data_siswa_list = [{'name': 'krian',
                    'absen': '1'},
                   {'name': 'bayu',
                    'absen': '2'},
                   {'name': 'farhan',
                    'absen': '3'}]

for item in(data_siswa_list):
  print('ini list :')
  print('item dari list :', item)
  for key, value in(item).items():
    print(key, value)
  print('\n')

ini list :
item dari list : {'name': 'krian', 'absen': '1'}
name krian
absen 1


ini list :
item dari list : {'name': 'bayu', 'absen': '2'}
name bayu
absen 2


ini list :
item dari list : {'name': 'farhan', 'absen': '3'}
name farhan
absen 3

In [8]:
data_siswa_list = [{'name': 'krian',
                    'absen': '1'},
                   
                   {'name': 'bayu',
                    'absen': '2'},
                   
                   {'name': 'farhan',
                    'absen': '3'}]

x = 0

for item in(data_siswa_list):
  print('ini list :')
  print('item dari list :', item)
  for key, value in(item).items():
    if x == 1:
      break
    print(key, value)
    x += 1
  print('\n')

ini list :
item dari list : {'name': 'krian', 'absen': '1'}
name krian


ini list :
item dari list : {'name': 'bayu', 'absen': '2'}


ini list :
item dari list : {'name': 'farhan', 'absen': '3'}

In [9]:
# buatlah syntax pemrograman untuk print angka ganjil diantara 1 sampe 20

for i in range(0, 10):
  for j in range(0, 10):
    j += j
    print(j)
  i *= 10
  i += 1

0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18

In [12]:
for i in range(0, 10):
  print(i + 1)

1
2
3
4
5
6
7
8
9
10

In [13]:
index = 0
while index < 10:
  index += 1
  print(index)

1
2
3
4
5
6
7
8
9
10

In [14]:
# syntax print angka ganjil 
for angka in range(0, 20):
  if angka % 2 != 0:
    print(angka)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# syntax print angka ganjil 
num = int(input(" Please Enter any Maximum Number : "))
 
for number in range(1, num + 1):
    if(number % 2 != 0):
        print("{0}".format(number))

 Please Enter any Maximum Number : 20
1
3
5
7
9
11
13
15
17
19

In [16]:
# syntax print angka ganjil dibawah 200

trigger = True
counter_bilangan = 0
counter_bilangan_ganjil = 0

while trigger:
  counter_bilangan += 1
  if counter_bilangan % 2 != 0:
    print(counter_bilangan)
    counter_bilangan_ganjil += 1

    if counter_bilangan_ganjil == 100:
      trigger = False

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

In [ ]:
# syntax print angka ganjil dibawah 200

treshold_num = 200
number = 1

while number <= num:
    if(number % 2 != 0):
        print(number)
    number += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

In [ ]:
for number in range(0, 20):
  if(number % 2 == 0):
    print("{0}".format(number))

0
2
4
6
8
10
12
14
16
18

In [ ]:
for angka in range(0, 20):
  if angka % 2 != 0:
    print(angka)

1
3
5
7
9
11
13
15
17
19

In [17]:
trigger = True
a = 0
b = 1
c = 1

while trigger:
  if c < 20:
    print(c)
  else:
    trigger = False
  c = a + b
  a = b
  b = c

1
1
2
3
5
8
13

In [ ]:
def fib(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)
fib(20)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
for i in range(0, 10):
  if i == 10:
    print('10 adalah nomor punggung lionel messi')

In [ ]:
range(0,10):